body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 15px;
}

p {
    color: #555;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

fieldset {
    border: none;
    margin-bottom: 20px;
}

legend {
    font-size: 1.3rem;
    color: #333;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 1rem;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

input[type="radio"] {
    margin-right: 10px;
}

input[type="radio"]:checked {
    background-color: #4CAF50;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

a {
    color: #4CAF50;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 20px;
}

a:hover {
    text-decoration: underline;
}

.btn-leaderboard {
        display: inline-block;
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 1rem;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.3s ease;
        margin-top: 20px;
    }

    .btn-leaderboard:hover {
        background-color: #45a049;
    }

    .btn-leaderboard:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(76, 175, 80, 0.8);
    }