<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='quiz.css') }}">

</head>
<body>
    <h1>Welcome, {{ current_user.username }}!</h1>
    <p>Your total score: {{ total_score }}</p>

    <form method="POST">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>{{ question.question }}</legend>
            {% for choice in form.answer %}
                <div class="form-group">
                    <label for="{{ choice.id }}">
                        {{ choice.label.text }}
                    </label>
                    <input type="radio" id="{{ choice.id }}" name="answer" value="{{ choice.data }}">
                </div>
            {% endfor %}
        </fieldset>
        <button type="submit">{{ form.submit.label.text }}</button>
    </form>
    {% include 'footer.html' %}
</body>
</html>
