<div class="container">
    <h1>Previsioni Meteo</h1>
    {% if weather_data %}
        <h2 class="my-4">Previsioni per i prossimi 3 giorni</h2>
        <table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
            <thead>
                <tr style="background-color: #333; color: white;">
                    <th style="padding: 10px;">Data</th>
                    <th style="padding: 10px;">Temp. diurna (°C)</th>
                    <th style="padding: 10px;">Temp. notturna (°C)</th>
                </tr>
            </thead>
            <tbody>
                {% for day in weather_data %}
                    <tr style="background-color: {% if loop.index % 2 == 0 %} #f9f9f9 {% else %} white {% endif %};">
                        <td style="padding: 10px;">{{ day.date }}</td>
                        <td style="padding: 10px;">{{ day.day_temp }}°C</td>
                        <td style="padding: 10px;">{{ day.night_temp }}°C</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>